customer-system-api/src/main/mule/customersystemapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
    <http:listener-config name="customersystemapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${api.http.port}" />
    </http:listener-config>
    <apikit:config name="customersystemapi-config" raml="customersystemapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Database_Config" doc:name="Database Config" doc:id="e5d4776f-2a4e-4ab7-95c3-2602f8d56b08" >
		<db:mssql-connection host="${db.host}" user="${db.user}" password="${db.password}" databaseName="db_poc_euw_mspoc002" />
	</db:config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="24c42a2f-d2ff-4c9e-9878-08c009110e4e" >
		<email:smtp-connection host="${smtp.host}" user="${smtp.user}" password="${smtp.password}" />
	</email:smtp-config>
	<global-property doc:name="Global Property" doc:id="90057a54-b861-4467-aa55-45b8fb835b31" name="mule.env" value="local" />
	<configuration-properties doc:name="Configuration properties" doc:id="a7a66821-000b-468e-86cd-69e08dd46d7d" file="${mule.env}.yaml" />
	<flow name="customersystemapi-main">
        <http:listener config-ref="customersystemapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="customersystemapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="customersystemapi-console">
        <http:listener config-ref="customersystemapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="customersystemapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\systemAPI\customer\(customer_id):customersystemapi-config">
        <set-variable value="#[%dw 2.0
output application/java
---
attributes.uriParams.customer_id]" doc:name="Set Variable" doc:id="1a3757df-88f1-48a4-b865-9c4a42f6ff92" variableName="customerId"/>
		<logger level="INFO" doc:name="Logger" doc:id="a87f899d-6469-4cbf-a15f-e82f98ca4351" message="listening to get ++ #[vars.customerId]"/>
		<db:select doc:name="Select Customer" doc:id="167ca933-bd62-413c-ba0b-36b3d7dbfe89" config-ref="Database_Config" target="CustomerData">
			<db:sql >select * from customer
where ID = :id</db:sql>
			<db:input-parameters ><![CDATA[#['id': vars.customerId]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="527e24b4-4918-4ac8-b7bd-3422a33df1f0" >
			<ee:message >
				<ee:set-payload ><![CDATA[output application/json
---
vars.CustomerData]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="cbeccede-8038-42f6-af66-8106669c33d0" message="#[payload]"/>
    </flow>
    <flow name="post:\systemAPI\customer:customersystemapi-config">
		<set-variable value="#[payload]" doc:name="Set Variable Payload to var" doc:id="f814eb13-3ea2-44f6-9014-fc79187367f3" variableName="requestPayload"/>
		<db:insert doc:name="Insert" doc:id="5d243eba-7cbb-4304-a741-f21295e97c2b" config-ref="Database_Config" autoGenerateKeys="true" target="insertPayload">
			<db:sql >INSERT INTO customer (FIRST_NAME, LAST_NAME, DOB, GENDER, EMAIL)
VALUES (:firstName, :lastName, :dob, :gender, :email)</db:sql>
			<db:input-parameters ><![CDATA[#[{
'firstName': payload.firstName,
'lastName': payload.lastName,
'dob': payload.dob,
'gender': payload.gender,
'email': payload.email
}]]]></db:input-parameters>
			<db:auto-generated-keys-column-indexes >
				<db:auto-generated-keys-column-index value="0" />
			</db:auto-generated-keys-column-indexes>
		</db:insert>
		<logger level="INFO" doc:name="Logger2" doc:id="07ad7ebd-ddc0-4ae3-9f4b-57ec3d212154" message="Logger2--------------------- ++ #[vars.requestPayload] ---------------------#[vars.insertPayload.generatedKeys]"/>
		<db:insert doc:name="Insert" doc:id="3a826628-ab9b-4db9-9f47-ffb8a7c17f7a" config-ref="Database_Config">
			<db:sql>INSERT INTO ADDRESS (CUST_ID, ADDR_LN_1, ADDR_LN_2, CITY, ZIPCODE, LABEL)
VALUES (:custid, :line1, :line2, :city, :zipcode, :label)</db:sql>
				<db:input-parameters><![CDATA[#[{
	'custid': vars.insertPayload.generatedKeys.GENERATED_KEYS,
	'line1': vars.requestPayload.address.line1,
	'line2': vars.requestPayload.address.line2,
	'city': vars.requestPayload.address.city,
	'zipcode': vars.requestPayload.address.zipcode,
	'label': vars.requestPayload.address.label
}]]]></db:input-parameters>
		</db:insert>
		<email:send doc:name="Send" doc:id="de1e5412-f87f-4954-9f33-b3300b3db509" config-ref="Email_SMTP" fromAddress="Abhinav.Sharma@capita.co.uk" subject="Successfully registered!" toAddresses="#[[vars.requestPayload.email]]">
			<email:reply-to-addresses />
			<email:body contentType="text/html" encoding="UTF-8">
				<email:content ><![CDATA[#["Thank you for registering"]]]></email:content>
			</email:body>
		</email:send>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="7ecd9de9-e314-4f94-9ddc-0e0f14005b53">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Record created successfully."
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
